body{
    background-color: gray;
}

table, thead, tr, th, td, tbody{
    font-family: sans-serif;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
    margin-bottom: 50px;
}

thead, tr, th{
    background: #626E7E;
    color: #a9b1bc;
    padding: 0.5em;
    overflow: hidden;
}
th:first-child{
    border-radius:3px 0 0 0;
}
th:last-child{
    border-radius:0 3px  0 0;
}
.day{
    display: block;
    font-size: 1.2em;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 auto 5px;
    padding: 5px;
    line-height: 1.8;
}
.day:active{
    background: #a9b1bc;
    color: #626E7E;
}
.short{
    display: none;
}
i{
    vertical-align: middle;
    font-size: 2em;
}

tbody, tr{
    background: #a9b1bc;
    color: #990000
}

tr:nth-child(odd){
    background: #d4d8de;
}

td{
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #626E7E;
    position: relative;
    height: 32px;
    cursor: pointer;
}


.hour{
    font-size: 2em;
    padding: 0;
    color: #626E7E;
    background:#fff;
    border-bottom:1px solid #626E7E;
    border-collapse: separate;
    min-width: 100px;
    cursor: default;
}
.hour:span{
    display: block;
}

label{
  display: block;
  width: 1000px;
}

/*class used to fill cell for appointments */
.fill{
    background-color: red;
}

.remove{
    background-color: initial;
}
/*

tbody{
    display: block;
    height: 100px;
    overflow-y: scroll;
}*/
